body {
padding-bottom:70px;
font-family:'Roboto', sans-serif;
}
.tab.active{
    display: initial;
}
.tab {
    display: none;
}

.row.EditGoal{
    font-family: 'Josefin Sans', sans-serif;

}
#mainImg {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: no-repeat;
    background-size: cover;
    transition: 1s opacity;
}
#mainCols{
    position: absolute;
    left:0;
    z-index: 10;
}