.container {
    font-family:'Pacifico', cursive;
}
.form-control{
    font-size: 20px;
    text-align: center;
    background-color: transparent;
    border: none;
}
.btn{
    background-color: transparent;
    padding-left: 25px;
    padding-right: 25px;
}
blockquote{
    margin-left: 25px;
}
::-webkit-input-placeholder{
    font-family: 'Pacifico', cursive;
}
::-moz-placeholder{
    font-family: 'Pacifico', cursive;
}
body{
    height: 100%;
    z-index: 100;
    background: -webkit-repeating-linear-gradient(90deg, #C93A36, #FFCC33 10%, #285890 20%); /* For Safari 5.1 to 6.0 */
    background: -o-repeating-linear-gradient(90deg, #C93A36, #FFCC33 10%, #285890 20%); /* For Opera 11.1 to 12.0 */
    background: -moz-repeating-linear-gradient(90deg, #C93A36, #FFCC33 10%, #285890 20%); /* For Firefox 3.6 to 15 */
    background: repeating-linear-gradient(90deg, #526988,#FFCC33  10%, #285890 20%); /* Standard syntax (must be last) */
}
