<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="Plugins/sweetalert-master/dist/sweetalert.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:600" rel="stylesheet">
    <link rel="stylesheet" href="CSS/mainPage.css">
    <link rel="stylesheet" href="CSS/ie10-viewport-bug-workaround.css">
    <!--fav-->
    <link rel="shortcut icon" href="faviconit/favicon.ico">
    <link rel="icon" sizes="16x16 32x32 64x64" href="faviconit/favicon.ico">
    <link rel="icon" type="image/png" sizes="196x196" href="faviconit/favicon-192.png">
    <link rel="icon" type="image/png" sizes="160x160" href="faviconit/favicon-160.png">
    <link rel="icon" type="image/png" sizes="96x96" href="faviconit/favicon-96.png">
    <link rel="icon" type="image/png" sizes="64x64" href="faviconit/favicon-64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="faviconit/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="faviconit/favicon-16.png">
    <link rel="apple-touch-icon" href="faviconit/favicon-57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="faviconit/favicon-114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="faviconit/favicon-72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="faviconit/favicon-144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="faviconit/favicon-60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="faviconit/favicon-120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="faviconit/favicon-76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="faviconit/favicon-152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="faviconit/favicon-180.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="/favicon-144.png">
    <meta name="msapplication-config" content="/browserconfig.xml">
</head>

<body ng-app="HabitsFormer" ng-controller="MainPageController">
<!--page if user on holiday-->
<div ng-show="user.onHoliday">
    <div class="container">
        <div class="row">
            <h1>Hi {{user.userName}}, you're still on holiday</h1>
            <form style="text-align:center" id="EndHolidayForm">
                <input placeholder="Password" type="password" ng-model="password" style="display:inline; margin-top:4vw; width:30vw; height:4vw; font-size:2vw">
                <button ng-click="EndHolidayMode()" id="EndHolidayButton" style="margin-top:20px; height:4vw">Click here to end</button>
            </form>
        </div>
    </div>
</div>


<!--page is user not on holiday-->
<div ng-hide="user.onHoliday">
    <div class="container" id="wholePageContainer">
        <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <ul>
            <li><a href="#"><h6 class="tabButton Home" onclick="changeTab('Home')">Home</h6></a></li>
            <li><a href="#"><h6 class="tabButton AddGoals" onclick="changeTab('AddGoals')">Add Goals</h6></a></li>
            <li><a href="#"><h6 class="tabButton Account" onclick="changeTab('Account')">Account</h6></a></li>
            <li><a href="#"><h6 class="tabButton FAQ" onclick="changeTab('FAQ')">FAQ</h6></a></li>
            <li><a href="#"><h6 class="" ng-click="Logout()">Logout</h6></a></li>
        </ul>
    </div>
        <div class="row">
            <div class="col-xs-5 col-lg-2 col-lg-offset-2">
                <h3 class="hidden-xs hidden-sm">Level: {{user.level}}</h3>
                <h3 class="hidden-md hidden-lg">Level: {{user.level}}</h3>
            </div>
            <div class="col-xs-5 col-lg-5" style="text-align: right;">
                    <h3 class="hidden-xs hidden-sm">{{user.points}}/{{GetFibbonacci(user.level)*1000}}</h3>
                    <h3 class="hidden-md hidden-lg">{{user.points}}/5000</h3>
            </div>
            <div class="col-lg-1 col-lg-2">
                    <span onclick="openNav()" class="addon">
                        <span><i class="glyphicon glyphicon-align-justify" style="font-size:30px;padding-top: 15px;padding-left: 5px;"></i></span>
                   </span>
            </div>

        </div>
                <div class="row well" ng-model="user" onclick="closeNav()">
                    <h1 class="heading">Hi {{user.userName}}, let's <span class="label label-primary">get shit done!</span></h1>
                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8"><!--start col surrounds the goals themselves-->
                        <div class="row" id="GoalsDisplayed">
                            <div class="row page-header" id="DisplayDont">
                                <blockquote><h1><span class="label label-danger">Dont</span></h1></blockquote>
                                <div class="col-xs-12 col-lg-12 goal" ng-repeat="goal in donts">
                                    <div>
                                        <h2 class="page-header">{{goal.title}}</h2>
                                        <p ng-repeat="p in goal.description.split('\n')">{{p}}</p>
                                        <h5>Points: {{goal.points}}</h5>
                                    </div>
                                    <div class="row bottomBar">
                                        <div class="col-lg-8">
                                            <h5 ng-hide="goal.money!=0">Money: none</h5>
                                            <h5 ng-show="goal.money!=0">Money: {{goal.money.toFixed(2)}}$</h5>
                                        </div>

                                        <div class="col-lg-4" style="text-align:right; vertical-align:bottom">
                                            <button type="button" class="btn btn-default" ng-click="CheckGoal(goal)" title="check goal"><span class="addon"><i class="glyphicon glyphicon-ok" style="font-size: 25px;"></i></span></button>

                                            <button type="button" class="btn btn-default" ng-click="UndoGoal(goal)" title="undo goal" ng-show="goal.canUndo"><span class="addon"><i class="glyphicon glyphicon-repeat" style="font-size: 25px;"></i></span></button>

                                            <button type="button" class="btn btn-default" ng-click="Monetize(goal)" title="monetised (click to switch)" ng-show="goal.isMonetised"><span class="addon"><i class="glyphicon glyphicon-usd" style="font-size: 25px;"></i></span></button>

                                            <button type="button" class="btn btn-default" ng-click="Monetize(goal)" title="not monetised (click to switch)" ng-hide="goal.isMonetised"><span class="addon"><i class="glyphicon glyphicon-usd" style="font-size: 25px;"></i></span></button>

                                            <button type="button" class="btn btn-default" ng-click="ShareGoal(goal)" title="share goal"><span class="addon"><i class="glyphicon glyphicon-share-alt" style="font-size: 25px;"></i></span></button>

                                            <button type="button" class="btn btn-default" ng-show="GetActualDate()-goal.timestamp>1000*3600*24" ng-click="EditGoal(goal)" title="edit goal"><span class="addon"><i class="glyphicon glyphicon-pencil" style="font-size: 25px;"></i></span></button>

                                            <button type="button" class="btn btn-default" ng-hide="GetActualDate()-goal.timestamp>1000*3600*24" title="Can't edit goal yet"><span class="addon"><i class="glyphicon glyphicon-minus-sign" style="font-size: 25px;"></i></span></button>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row page-header" id="DisplayDaily">
                                <blockquote><h1><span class="label label-primary"> Today </span></h1></blockquote>
                                <div class="col-xs-12 col-lg-12 goal" ng-repeat="goal in dailys">

                                    <div>
                                        <h2 class="page-header">{{goal.title}} <span class="countdown">({{UpdateTime(goal).hours | numberFixedLen:2}}:{{UpdateTime(goal).minutes | numberFixedLen:2}}:{{UpdateTime(goal).seconds | numberFixedLen:2}})</span></h2>
                                        <p ng-repeat=" p in goal.description.split('\n')">{{p}}</p>
                                        <h5>Points: +{{goal.points}}</h5>
                                        <h5 ng-hide="goal.money!=0">Money: none</h5>
                                        <h5 ng-show="goal.money!=0">Money: {{goal.money.toFixed(2)}}$</h5>
                                    </div>
                                    <div class="row bottomBar">
                                        <div class="col-lg-8">
                                            <h3 ng-show="goal.actualRepeats<goal.repeats">Today: {{goal.actualRepeats}}/{{goal.repeats}}</h3>
                                            <h3 ng-show="goal.actualRepeats===goal.repeats">Completed </h3>
                                            <h3 ng-show="goal.actualRepeats>goal.repeats">Completed + {{goal.actualRepeats-goal.repeats}}</h3>
                                        </div>
                                        <div class="col-lg-4 btn-toolbar" role="group" aria-label="Button Group" style="text-align:right">
                                            <button type="button" class="btn btn-default" ng-click="CheckGoal(goal)" title="check goal"><span class="addon"><i class="glyphicon glyphicon-ok" style="font-size: 25px;"></i></span></button>

                                            <button type="button" class="btn btn-default" ng-click="UndoGoal(goal)" title="undo goal" ng-show="goal.canUndo"><span class="addon"><i class="glyphicon glyphicon-repeat" style="font-size: 25px;"></i></span></button>

                                            <button type="button" class="btn btn-default" ng-click="Monetize(goal)" title="monetised (click to switch)" ng-show="goal.isMonetised"><span class="addon"><i class="glyphicon glyphicon-usd" style="font-size: 25px;"></i></span></button>

                                            <button type="button" class="btn btn-default" ng-click="Monetize(goal)" title="not monetised (click to switch)" ng-hide="goal.isMonetised"><span class="addon"><i class="glyphicon glyphicon-usd" style="font-size: 25px;"></i></span></button>

                                            <button type="button" class="btn btn-default" ng-click="ShareGoal(goal)" title="share goal"><span class="addon"><i class="glyphicon glyphicon-share-alt" style="font-size: 25px;"></i></span></button>

                                            <button type="button" class="btn btn-default" ng-show="GetActualDate()-goal.timestamp>1000*3600*24" ng-click="EditGoal(goal)" title="edit goal"><span class="addon"><i class="glyphicon glyphicon-pencil" style="font-size: 25px;"></i></span></button>

                                            <button type="button" class="btn btn-default" ng-hide="GetActualDate()-goal.timestamp>1000*3600*24" title="Can't edit goal yet"><span class="addon"><i class="glyphicon glyphicon-minus-sign" style="font-size: 25px;"></i></span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row page-header" id="DisplayWeekly">
                                <blockquote><h1><span class="label label-primary"> This Week </span></h1></blockquote>
                                <div class="col-xs-12 col-lg-12 goal" ng-repeat="goal in weeklys">
                                    <div>
                                        <h2 class="page-header">{{goal.title}} ({{UpdateTime(goal).daysTillWeek}} days, {{UpdateTime(goal).hours}} hours left)</h2>
                                        <p ng-repeat=" p in goal.description.split('\n')">{{p}}</p>
                                        <h5>Points: +{{goal.points}}</h5>
                                        <h5 ng-hide="goal.money!=0">Money: none</h5>
                                        <h5 ng-show="goal.money!=0">Money: {{goal.money.toFixed(2)}}$</h5>
                                    </div>
                                    <div class="row bottomBar">
                                        <div class="col-lg-8">
                                            <h3 ng-show="goal.actualRepeats<goal.repeats">This Week: {{goal.actualRepeats}}/{{goal.repeats}}</h3>
                                            <h3 ng-show="goal.actualRepeats===goal.repeats">Completed </h3>
                                            <h3 ng-show="goal.actualRepeats>goal.repeats">Completed + {{goal.actualRepeats-goal.repeats}}</h3>
                                        </div>
                                        <div class="col-lg-4 btn-toolbar">
                                            <button type="button" class="btn btn-default" ng-click="CheckGoal(goal)" title="check goal"><span class="addon"><i class="glyphicon glyphicon-ok" style="font-size: 25px;"></i></span> </button>

                                            <button type="button" class="btn btn-default" ng-click="UndoGoal(goal)" title="undo goal" ng-show="goal.canUndo"><span class="addon"><i class="glyphicon glyphicon-repeat" style="font-size: 25px;"></i></span> </button>

                                            <button type="button" class="btn btn-default" ng-click="Monetize(goal)" title="monetised (click to switch)" ng-show="goal.money!=0"><span class="addon"><i class="glyphicon glyphicon-usd" style="font-size: 25px;"></i></span> </button>

                                            <button type="button" class="btn btn-default" ng-click="Monetize(goal)" title="not monetised (click to switch)" ng-hide="goal.money!=0"><span class="addon"><i class="glyphicon glyphicon-usd" style="font-size: 25px;"></i></span> </button>

                                            <button type="button" class="btn btn-default" ng-click="ShareGoal(goal)" title="share goal"><span class="addon"><i class="glyphicon glyphicon-share-alt" style="font-size: 25px;"></i></span> </button>

                                            <button type="button" class="btn btn-default" ng-show="GetActualDate()-goal.timestamp>1000*3600*24*14" ng-click="EditGoal(goal)" title="edit goal"><span class="addon"><i class="glyphicon glyphicon-pencil" style="font-size: 25px;"></i></span> </button>

                                            <button type="button" class="btn btn-default" ng-hide="GetActualDate()-goal.timestamp>1000*3600*24*14" title="Can't edit goal yet"><span class="addon"><i class="glyphicon glyphicon-minus-sign" style="font-size: 25px;"></i></span> </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row page-header" id="DisplayMonthly">
                                <blockquote><h1><span class="label label-primary">This Month </span></h1></blockquote>
                                <div class="col-xs-12 col-lg-12 goal" ng-repeat="goal in monthlys">
                                    <div>
                                        <h2 class="page-header">{{goal.title}} ({{UpdateTime(goal).daysTillMonth}} days, {{UpdateTime(goal).hours}} hours left)</h2>
                                        <p ng-repeat=" p in goal.description.split('\n')">{{p}}</p>
                                        <h5>Points: +{{goal.points}}</h5>
                                        <h5 ng-hide="goal.money!=0">Money: none</h5>
                                        <h5 ng-show="goal.money!=0">Money: {{goal.money.toFixed(2)}}$</h5>
                                    </div>
                                    <div class="row bottomBar">
                                        <div class="col-lg-8">
                                            <h3 ng-show="goal.actualRepeats<goal.repeats">This Month: {{goal.actualRepeats}}/{{goal.repeats}}</h3>
                                            <h3 ng-show="goal.actualRepeats===goal.repeats">Completed </h3>
                                            <h3 ng-show="goal.actualRepeats>goal.repeats">Completed + {{goal.actualRepeats-goal.repeats}}</h3>
                                        </div>
                                        <div class="col-lg-4 btn-toolbar">
                                            <button type="button" class="btn btn-default"  ng-click="CheckGoal(goal)" title="check goal"><i class="glyphicon glyphicon-ok" style="font-size: 25px;"></i></button>

                                            <button type="button" class="btn btn-default"  ng-click="UndoGoal(goal)" title="undo goal" ng-show="goal.canUndo"><i class="glyphicon glyphicon-repeat" style="font-size: 25px;"></i></button>

                                            <button type="button" class="btn btn-default"  ng-click="Monetize(goal)" title="monetised (click to switch)" ng-show="goal.isMonetised"><i class="glyphicon glyphicon-usd" style="font-size: 25px;"></i></button>

                                            <button type="button" class="btn btn-default"  ng-click="Monetize(goal)" title="not monetised (click to switch)" ng-hide="goal.isMonetised"><i class="glyphicon glyphicon-usd" style="font-size: 25px;"></i></button>

                                            <button type="button" class="btn btn-default"  ng-click="ShareGoal(goal)" title="share goal"><i class="glyphicon glyphicon-share-alt" style="font-size: 25px;"></i></button>

                                            <button type="button" class="btn btn-default"  ng-show="GetActualDate()-goal.timestamp>1000*3600*24*28" ng-click="EditGoal(goal)" title="edit goal"><i class="glyphicon glyphicon-pencil" style="font-size: 25px;"></i></button>

                                            <button type="button" class="btn btn-default"  ng-hide="GetActualDate()-goal.timestamp>1000*3600*24*28" title="Can't edit goal yet"><i class="glyphicon glyphicon-minus-sign" style="font-size: 25px;"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!---ends col-md-8 goals themselves--->
             </div><!--ends the row above-->
                <div class="row tab AddGoals" onclick="closeNav()">
                <div class="col-xs-2">

                </div>
                <div class="col-xs-10">
                    <h2>Add Goal</h2>
                    <form id="AddGoal" novalidate >
                        <div class="inputGroup" style="padding-bottom:0.5vw">
                            <h6>Type:</h6>
                            <select ng-model="newGoal.goalType" ng-init="newGoal.goalType = 'Dont'">
                                <option value="Dont">Dont</option>
                                <option value="Daily">Daily</option>
                                <option value="Weekly">Weekly</option>
                                <option value="Monthly">Monthly</option>
                            </select>
                        </div>
                        <div class="inputGroup">
                            <h6>Title:</h6>
                            <input type="text" ng-model="newGoal.title" maxlength="50">
                        </div>
                        <div class="inputGroup" ng-model="newGoal" ng-hide="newGoal.goalType !== 'Dont'">
                            <h6>Points:</h6>
                            <input type="number" ng-model="newGoal.points" max="-500" step="1" min="-1000000">
                        </div>
                        <div class="inputGroup" ng-model="newGoal" ng-hide="newGoal.goalType == 'Dont'">
                            <h6>Repeats:</h6>
                            <input type="number" ng-model="newGoal.repeats" min="0" max="10000" step="1">
                        </div>
                        <div class="inputGroup">
                            <h6 style="vertical-align:center;" >Description:</h6>
                            <textarea rows="4" type="text" ng-model="newGoal.description" maxlength="500"></textarea>
                        </div>
                        <button ng-click="AddGoal()">Commit to goal</button>
                    </form>
                </div>
            </div>
                <div class="row tab EditGoal" onclick="closeNav()">
                <div class="col-xs-2">

                </div>
                <div class="col-xs-10">
                    <h2>Edit Goal</h2>
                    <form id="EditGoal" novalidate >
                        <div class="inputGroup">
                            <h6>Type:</h6>
                            <input type="text" ng-model="editGoal.goalType" maxlength="50" readonly>
                        </div>
                        <div class="inputGroup">
                            <h6>Title:</h6>
                            <input type="text" ng-model="editGoal.title" maxlength="50">
                        </div>
                        <div class="inputGroup" ng-model="editGoal" ng-hide="editGoal.goalType !== 'Dont'">
                            <h6>Points:</h6>
                            <input type="number" ng-model="editGoal.points" max="-500" step="1" min="-1000000">
                        </div>
                        <div class="inputGroup" ng-model="editGoal" ng-hide="editGoal.goalType == 'Dont'">
                            <h6>Repeats:</h6>
                            <input type="number" ng-model="editGoal.repeats" min="0" max="10000" step="1">
                        </div>
                        <div class="inputGroup" ng-model="editGoal" >
                            <h6>Money:</h6>
                            <input type="number" ng-model="editGoal.money" max="10" step="0.01" min="0">
                        </div>
                        <div class="inputGroup">
                            <h6 style="vertical-align:center;" >Description:</h6>
                            <textarea rows="4" type="text" ng-model="editGoal.description" maxlength="500"></textarea>
                        </div>
                        <div class="inputGroup">
                            <h6>Password:</h6>
                            <input type="password" ng-model="password" style="width:65%">
                        </div>
                        <button ng-click="SaveChangesGoal(editGoal)">Save changes</button>
                        <button ng-click="RemoveGoal(editGoal)">Remove Goal</button>
                        <button onclick="changeTab('Home')">Cancel</button>
                    </form>
                </div>
            </div>
                <div class="row tab ManageGoals" onclick="closeNav()">ManageGoals</div>
                <div class="row tab Account" onclick="closeNav()">
                <div class="col-xs-2">

                </div>
                <div class="col-xs-10">
                    <h2>Account</h2>
                    <style> @import url("CSS/account.css");</style><!--asa stilizez tab urile-->
                    <form id="EditAccount" >
                        <!--<div class="inputGroup">
                          <h6>Id:</h6>
                          <input type="text" ng-model="editUser.uid" maxlength="50" readonly></input>
                        </div>-->
                        <div class="inputGroup">
                            <h6>Name:</h6>
                            <input type="text" ng-model="editUser.userName" maxlength="50" ></input>
                        </div>
                        <div class="inputGroup">
                            <h6>Email:</h6>
                            <input type="text" ng-model="editUser.email" maxlength="50" ></input>
                        </div>
                        <div class="inputGroup">
                            <h6>Level:</h6>
                            <input type="text" ng-model="editUser.level" readonly></input>
                        </div>
                        <div class="inputGroup">
                            <h6>Points:</h6>
                            <input type="text" ng-model="editUser.points" readonly></input>
                        </div>
                        <div class="inputGroup">
                            <h6>New Password:</h6>
                            <input type="password" ng-model="editUser.newPsw"  style="width:70%"></input>
                        </div>
                        <div class="inputGroup">
                            <h6>Confirm new Password:</h6>
                            <input type="password" ng-model="editUser.confNewPsw" style="width:65%"></input>
                        </div>
                        <div class="inputGroup">
                            <h6>Current password:</h6>
                            <input type="password" ng-model="editUser.acutalPsw" style="width:65%"></input>
                        </div>
                        <button ng-click="SaveAccountChanges()">Save</button>
                        <button ng-click="EnterHolidayMode()">Enter holiday mode</button>
                        <button ng-click="DeleteAccount()">Delete Account</button>

                    </form>
                </div>
            </div>
    </div><!--end the page container-->
</div><!--ends ng-hide="user.onHoliday"-->



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.5.0/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/2.0.1/angularfire.min.js"></script>
<script src="Plugins/sweetalert-master/dist/sweetalert.min.js"></script>
<script src="Js/data.js"></script>
<script src="Js/mainPageController.js"></script>
<script src="Js/mainPage.js"></script>


<script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyCbK_-CLuHj1VrPzWBm37f9w_NyytxlmNs",
        authDomain: "im-sharp.firebaseapp.com",
        databaseURL: "https://im-sharp.firebaseio.com",
        storageBucket: "im-sharp.appspot.com",
        messagingSenderId: "496133993449"
    };
    firebase.initializeApp(config);
</script>
</body>
</html>


