<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="Plugins/sweetalert-master/dist/sweetalert.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:600" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.css">
    <link rel="stylesheet" href="CSS/resetPassword.css">
    <link rel="stylesheet" href="CSS/ie10-viewport-bug-workaround.css">
    <!--fav-->
    <link rel="shortcut icon" href="faviconit/favicon.ico">
    <link rel="icon" sizes="16x16 32x32 64x64" href="faviconit/favicon.ico">
    <link rel="icon" type="image/png" sizes="196x196" href="faviconit/favicon-192.png">
    <link rel="icon" type="image/png" sizes="160x160" href="faviconit/favicon-160.png">
    <link rel="icon" type="image/png" sizes="96x96" href="faviconit/favicon-96.png">
    <link rel="icon" type="image/png" sizes="64x64" href="faviconit/favicon-64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="faviconit/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="faviconit/favicon-16.png">
    <link rel="apple-touch-icon" href="faviconit/favicon-57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="faviconit/favicon-114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="faviconit/favicon-72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="faviconit/favicon-144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="faviconit/favicon-60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="faviconit/favicon-120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="faviconit/favicon-76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="faviconit/favicon-152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="faviconit/favicon-180.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="/favicon-144.png">
    <meta name="msapplication-config" content="/browserconfig.xml">
  </head>

  <body ng-app="HabitsFormer" ng-controller="ResetPasswordController">
    <div class="container">

      <div class="row">
        <div class="col-sm-8 col-md-6 col-md-offset-3">
            <div class="thumbnail">
              <img src="CSS/Img/resetPass.jpg" alt="http://placehold.it/350x150">
                <div class="caption">
                       <h1>Reset Password</h1>
                       <br><br>
                    <div class="form-group">
                        <form>
                            <label for="Email">Email address</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                <input type="email" class="form-control" id="Email"  placeholder="Please enter your email" ng-model="email">
                            </div><br><hr>
                            <blockquote>
                                <button class="btn btn-danger" ng-click="ResetPassword()">Reset Password</button>
                                <button class="btn btn-primary" onclick="Switch('Login')">Back to login</button>
                            </blockquote>
                            <hr>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>


<div id="grad"></div>










  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.5.0/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/2.0.1/angularfire.min.js"></script>
  <script src="Plugins/sweetalert-master/dist/sweetalert.min.js"></script>
  <script src="Js/data.js"></script>
  <script src="Js/ResetPasswordController.js"></script>
  <script src="Js/login.js"></script>


  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyCbK_-CLuHj1VrPzWBm37f9w_NyytxlmNs",
      authDomain: "im-sharp.firebaseapp.com",
      databaseURL: "https://im-sharp.firebaseio.com",
      storageBucket: "im-sharp.appspot.com",
      messagingSenderId: "496133993449"
    };
    firebase.initializeApp(config);



  </script>
  </body>
</html>
